* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b0b1b4;
}

.nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.search {
    display: flex;
}

input {
    border-radius: 5px;
    border-color: blue;
    margin-right: 5px;
}

.last-icons {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}

.content {
    margin: 10px;
}

.card {
    height: auto;
    width: 380px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.image {
    width: 100px;
    border-radius: 50%;
}

.profile {
    width: 50px;
}

.name {
    display: flex;
}

::placeholder {
    padding-left: 20px;
}

.container {
    width: 848px;
    margin-top: -1028px;
    margin-left: 417px;
    margin-bottom: 10px;
    height: 367px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

.container1 {
    width: 848px;
    margin-top: -2028px;
    margin-left: 417px;
    height: 367px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.search {
    display: flex;
}

input {
    border-radius: 5px;
    border-color: blue;
    margin-right: 5px;
}

.last-icons {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}

.content {
    margin: 10px;
}

.card {
    border: 2px solid black;
    height: 203px;
    width: 380px;
    background-color: white;
}

.image {
    width: 100px;
    border-radius: 50%;
}

.profile {
    width: 50px;
}

.name {
    display: flex;
} */

/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}